---
---

p {
    font-size: 125%;
    padding-bottom: 10px;
}

.wrapper {
    width: 930px;
}

#content {
    width: 100%;
}

ul li {
    list-style-type: none;
}

ul li.clear {
    clear: both;
}

ul li li {
    display: inline;
    padding: 20px 0;
}
ul li li.left {
    float: left;
    width: 25%;
    text-align: center;
}

ul li li.right {
    float: right;
    width: 75%;
}

.company {
    display: inline;
}
.date-range {
    float: right;
    font-weight: bold;
}

.jobs p {
    padding-top: 8px;
    padding-right: 40%;
}
h1 {
    font-size: 3.5em;
}


#htmltagcloud{line-height:2.4em;word-spacing:normal;letter-spacing:normal;text-transform:none;text-align:justify;text-indent:0}
#htmltagcloud a:link{text-decoration:none}
#htmltagcloud a:visited{text-decoration:none}
#htmltagcloud a:hover{color:white;background-color:#05f}
#htmltagcloud a:active{color:white;background-color:#03d}
.wrd{padding:0;position:relative}
.wrd a{text-decoration:none}
.tagcloud0{font-size:.9em;color:#ACC1F3;z-index:10}
.tagcloud0 a{color:#ACC1F3}
.tagcloud1{font-size:1.2em;color:#ACC1F3;z-index:9}
.tagcloud1 a{color:#ACC1F3}
.tagcloud2{font-size:1.4em;color:#86A0DC;z-index:8}
.tagcloud2 a{color:#86A0DC}
.tagcloud3{font-size:1.7em;color:#86A0DC;z-index:7}
.tagcloud3 a{color:#86A0DC}
.tagcloud4{font-size:2.1em;color:#607EC5;z-index:6}
.tagcloud4 a{color:#607EC5}
.tagcloud5{font-size:2.5em;color:#607EC5;z-index:5}
.tagcloud5 a{color:#607EC5}
.tagcloud6{font-size:2.8em;color:#4C6DB9;z-index:4}
.tagcloud6 a{color:#4C6DB9}
.tagcloud7{font-size:3.1em;color:#395CAE;z-index:3}
.tagcloud7 a{color:#395CAE}
.tagcloud8{font-size:3.4em;color:#264CA2;z-index:2}
.tagcloud8 a{color:#264CA2}
.tagcloud9{font-size:3.7em;color:#133B97;z-index:1}
.tagcloud9 a{color:#133B97}
.tagcloud10{font-size:4em;color:#002A8B;z-index:0}
.tagcloud10 a{color:#002A8B}
.freq{font-size:10pt !important;color:#bbb}