---
---
/*
Theme Name: Leonid Theme
Author: WPCorner.com
Author URI: http://www.wpcorner.com/
*/

* {
    margin: 0; padding: 0;
}
body {
    text-align: center;
    font: 12px Verdana;
    color: #514A34;
    background-color: #EBE7D3;
}
a {
    color: #4C4337;
}
a:hover {
    text-decoration: none;
    color: #ff0000;
}
img {
    border: 0;
}

.break {
    font-size: 0;
    width: 0; height: 0;
    clear: both;
}
.alignleft {
    float: left;
    margin: 4px 10px 5px 0;
}
.alignright {
    float: right;
    margin: 4px 0 5px 10px;
}
.aligncenter {
    text-align: center;
}
.hidden {
    display: none;
}

/** BEGIN wrapper **/
.wrapper {
    width: 955px;
    margin: auto auto;
    text-align: left;
}
/** END wrapper **/

/** BEGIN header **/
#header {
    height: 180px;
    overflow: hidden;
    background: url({{site.url}}/images/header.gif) repeat-x 0 0;
}
    #header ul.categories {
        list-style-type: none;
        height: 60px;
        float: left;
        margin-left: -20px;
        overflow: hidden;
    }
        #header ul.categories li {
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            padding: 20px;
        }
        #header ul.categories li a {
            color: #A7A181;
            text-decoration: none;
        }
        #header ul.categories li a:hover {
            color: #ffffff;
        }
    #header .subscribe {
        float: right;
    }
    #header h1 {
        float: left;
        padding: 57px 0 42px;
    }
        #header h1 a {
            display: block;
            width: 313px; height: 42px;
            text-indent: -9999px;
            outline: none;
            background: url({{site.url}}/images/logo.jpg) no-repeat 0 0;
        }
    #header .ad468x60 {
        float: right;
        padding-top: 30px;
    }
    #header ul.pages {
        clear: both;
        list-style-type: none;
    }
        #header ul.pages li {
            float: left;
            font-size: 0.9em;
        }

        #header ul.pages li a {
            color: #ffffff;
            text-decoration: none;
            display: block;
            padding: 11px 20px 12px;
        }
        #header ul.pages li a:hover {
            background: url({{site.url}}/images/active.gif) no-repeat center 0;
        }
    #header .subscribe {
        padding: 20px;
        font-size: 0.9em;
        padding-left: 24px;
        background: url({{site.url}}/images/rss.gif) no-repeat 5px 18px;
    }
        #header .subscribe a {
            color: #A7A181;
            text-decoration: none;
            margin: 0 8px;
        }
/** END header **/

/** BEGIN body **/
#body {
    padding: 15px 0 20px;
}
/** END body **/

/** BEGIN content **/
#content {
    width: 570px;
    float: left;
}
    #content .featured {
        background: url({{site.url}}/images/postbody.gif) repeat-y 0 0;
    }
        #content .featured .a { background: url({{site.url}}/images/posttop.gif) no-repeat 0 0; }
        #content .featured .b { background: url({{site.url}}/images/postfoot.gif) no-repeat 0 bottom; padding: 20px 25px; }
        #content .featured h2 {
            margin-bottom: 15px;
            font-size: 1em;
            text-transform: uppercase;
        }
        #content .featured .container {
            width: 516px; height: 340px;
            overflow: hidden;
        }
        #content .featured .item {
            width: 516px; height: 340px;
            overflow: hidden;
            position: relative;
        }
            #content .featured .item img {
                width: 516px;
            }
            #content .featured .item .text {
                position: absolute;
                left: 0; bottom: 0;
                padding: 20px;
                color: #ffffff;
                background: url({{site.url}}/images/shade.png) repeat 0 0;
            }
            #content .featured .item h2 a {
                color: #ffffff;
                text-decoration: none;
                text-transform: none;
                font-size: 1.8em;
                font-weight: normal;
                line-height: 1.4em;
            }
            #content .featured .item p {
                line-height: 1.5em;
            }
    #content .post {
        padding-top: 20px;
    }
        #content .post img {
            padding-left: 15px;
            padding-bottom: 15px;
        }
        .post-img {
            padding-right: 15px;
            padding-bottom: 15px;
        }
        #content .post .content { clear: both; background: url({{site.url}}/images/postbody.gif) repeat-y 0 0; text-align:justify;}
        #content .post .a { background: url({{site.url}}/images/posttop.gif) no-repeat 0 0; }
        #content .post .b { background: url({{site.url}}/images/postfoot.gif) no-repeat 0 bottom; padding: 20px 25px; }
            #content .post .date {
                width: 126px; height: 28px;
                background: url({{site.url}}/images/date.gif) no-repeat 0 0;
                float: left;
                margin-top: 10px;
                color: #ffffff;
                font-weight: bold;
                padding: 10px 0 0 40px;
            }
            #content .post h2 {
                font-size: 2em;
                font-family: Georgia;
                font-weight: normal;
                line-height: 1.4em;
                margin-bottom: 10px;
                                padding-top: 12px;
            }
                #content .post h2 a {
                    text-decoration: none;
                }
            #content .post .thumb {
                border: 1px solid #E7DFC0;
                padding: 4px;
                background-color: #F0EBD7;
                margin-bottom: 10px;
            }
                #content .post .thumb a {
                    width: 510px; height: 128px;
                    display: block;
                    overflow: hidden;
                }
                #content .post .thumb img {
                    width: 516px;
                }
            #content .post p {
                line-height: 1.5em;
                margin-bottom: 10px;
                padding: 0 5px;
            }
            #content .post .links {
                font-weight: bold;
                font-size: 0.9em;
                height: 30px;
            }
                #content .post .links a {
                    text-decoration: none;
                    display: block;
                    float: left;
                    padding: 10px 10px 10px 36px;
                    background: url({{site.url}}/images/category.gif) no-repeat 0 10px;
                }
                #content .post .links .comments a {
                    float: right;
                    background: url({{site.url}}/images/comments.gif) no-repeat 0 5px;
                }
/** END content **/

/** BEGIN sidebar **/
#sidebar {
    width: 370px;
    float: right;
        min-height: 400px;
}
    #sidebar .box {
        clear: both;
    }
        #sidebar .box .popular {
            list-style-type: none;
            padding: 5px 0 15px 20px;
        }
            #sidebar .box .popular li {
                clear: both;
                line-height: 1.5em;
            }
            #sidebar .box .popular li img {
                float: left;
                margin: 0 10px 10px 0;
                padding: 5px;
                border: 1px solid #E0DABA;
                background-color: #F5F1DB;
                width: 50px;
            }
            #sidebar .box .popular li a {
                color: #9E9577;
                text-decoration: none;
                font-weight: bold;
            }
            #sidebar .box .popular li p {
                font-size: 0.9em;
                margin-bottom: 10px;
            }
        #sidebar .box h2 {
            font-size: 1em;
            text-transform: uppercase;
            color: #7BC505;
            padding: 15px 5px;
            background: url({{site.url}}/images/box.gif) no-repeat 0 0;
        }
        #sidebar .box .flickr {
            padding: 0 0 10px 20px;
        }
            #sidebar .box .flickr img {
                margin: 5px;
                width: 80px;
            }
        #sidebar .box .video {
            padding: 5px 0 15px 20px;
        }
        #sidebar .box .tags {
            padding: 5px 30px 15px 20px;
        }
            #sidebar .box .tags a {
                color: #B1AA8E;
                text-decoration: none;
            }
            #sidebar .box .tags a:hover {
                color: #514A34;
                text-decoration: underline;
            }
        #sidebar .box .twitter {
            padding: 5px 0 15px 70px;
            background: url({{site.url}}/images/twitter.gif) no-repeat 10px 10px;
        }
            #sidebar .box .twitter p {
                font-size: 1.3em;
                font-weight: bold;
                font-family: Georgia;
                color: #9E9577;
                line-height: 1.5em;
                margin-bottom: 5px;
            }
            #sidebar .box .twitter p.date {
                font-weight: normal;
                font-size: 0.9em;
                font-family: Verdana;
                color: #514A34;
            }
        #sidebar .box .subscribe {
            padding: 5px 25px 15px;
        }
        #sidebar .box .subscribe ul {
            list-style-type: none;
        }
            #sidebar .box .subscribe ul li {
                font-size: 0.9em;
                float: left;
                width: 85px;
                line-height: 1.4em;
                padding: 12px 2px 12px 36px;
                background: url({{site.url}}/images/rss3.png) no-repeat 0 5px;
            }
            #sidebar .box .subscribe ul li.mail { background-image: url({{site.url}}/images/mail.gif); }
                        #sidebar .box .subscribe ul li.twitter { background-image: url({{site.url}}/images/twitter.png); }
                        #sidebar .box .subscribe ul li.linkedin { background-image: url({{site.url}}/images/linkedin.png); }
            #sidebar .box .subscribe ul li.stumbleupon { background-image: url({{site.url}}/images/stumbleupon.gif); width: 160px; padding-left: 40px; }
            #sidebar .box .subscribe ul li.facebook { background-image: url({{site.url}}/images/facebook.gif); width: 160px; padding-left: 40px; }
            #sidebar .box .subscribe ul li a {
                text-decoration: none;
            }
/** END sidebar **/

/** BEGIN footer 1 **/
#footer1 {
    clear: both;
    background: #BFBC9D url({{site.url}}/images/footer1.gif) repeat-x 0 0;
    padding: 40px 0 20px;
}
    #footer1 .box {
        width: 210px;
        float: left;
        color: #ffffff;
        padding-left: 25px;
    }
        #footer1 .box h2 {
            text-transform: uppercase;
            font-size: 1em;
            margin-bottom: 10px;
        }
        #footer1 .box ul {
            list-style-type: none;
        }
            #footer1 .box ul li {
                line-height: 1.5em;
                padding: 4px 0 4px 15px;
                background: url({{site.url}}/images/bullet.gif) no-repeat 0 10px;
            }
            #footer1 .box ul li a {
                color: #ffffff;
                text-decoration: none;
            }
            #footer1 .box ul li a:hover {
                
            }
/** END footer 1 **/

/** BEGIN footer 2 **/
#footer2 {
    clear: both;
    height: 55px;
    background: #7C765E url({{site.url}}/images/footer2.gif) repeat-x 0 0;
    color: #ffffff;
}
    #footer2 a {
        color: #ffffff;
    }
    #footer2 .l {
        float: left;
        padding-top: 22px;
    }
    #footer2 .r {
        float: right;
        padding-top: 22px;
    }
/** END footer 2 **/

/** BEGIN miscellaneous **/
#content .single {
    padding: 10px 20px;
    margin-bottom: 60px;
}
    #content .single p {
        line-height: 1.5em;
        margin-bottom: 10px;
    }
    #content .single ul, #content .single ol {
        list-style-position: inside;
        margin-bottom: 10px;
    }
    #content .single li {
        line-height: 1.5em;
        padding: 2px 0;
    }
    #content .single blockquote {
        padding: 10px 10px 5px;
        margin-bottom: 10px;
        background-color: #eeeeee;
        border-width: 1px 0;
        border-style: solid;
        border-color: #bbbbbb;
    }
    #content .single h3, #content .single h4, #content .single h5, #content .single h6 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    #content .single h2 {
        font-size: 2em;
    }
    #content .postnav {
        padding: 20px 0;
    }
#comments {
    padding: 0 20px;
}
    #comments a {
        text-decoration: none;
    }
    #comments h2 {
        font-size: 1.2em;
        margin: 10px 0;
    }
    #comments p {
        margin-bottom: 10px;
        line-height: 1.6em;
    }
    #comments form {
        
    }
    #comments form p {
        margin-bottom: 5px;
    }
        #comments form input {
            margin-right: 5px;
        }
        #comments form input, textarea {
            border: 1px solid #bbbbbb;
            font-size: 0.9em;
            font-family: Verdana;
            padding: 4px;
            background-position: 4px 4px;
            background-repeat: no-repeat;
        }
        #comments form input {
            width: 240px;
            border: 1px solid #bbbbbb;
        }
        #comments form textarea {
            width: 350px;
            padding: 4px 4px !important;
            border: 1px solid #bbbbbb;
        }
        #comments form button {
            border: 1px solid #a0a0a0;
            font-size: 1em;
            font-family: Verdana;
            padding: 2px 6px;
        }
    .commentdetails {
        margin-top: 25px;
    }
    .commentauthor {
        margin-bottom: 5px !important;
        font-weight: bold;
    }
    .commentdate {
        font-size: 0.8em;
        margin-bottom: 5px;
        color: #909090;
    }
    .required {
        color: #ff0000;
    }
h2.title {
    font-size: 1em !important;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #565656;
}
.notfound {
    padding: 40px;
}
    .notfound h2 {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 10px;
    }

/** END miscellaneous **/

/** BEGIN wordpress 2.7 comments **/
#comments ol {
    list-style-type: none;
    clear: both;
    padding: 0;
    margin: 0;
}
    #comments .buffer {
        padding: 10px;
    }
    #comments ol li {
        margin-bottom: 10px;
    }
    #comments ol li ul li {
        border: 1px solid #eeeeee;
        padding: 10px;
    }
    #comments ol li .avatar {
        float: right;
    }
    #comments ol li .comment-author {
        
    }
        #comments ol li .comment-author .fn {
            font-weight: bold;
            font-size: 1.2em;
        }
    #comments ol li .comment-meta {
        font-size: 0.9em;
        color: #999999;
        margin: 5px 0 10px;
    }
    #comments ol li .reply {
        font-size: 0.9em;
        font-weight: bold;
        padding-bottom: 10px;
    }
    #comments .children {
        list-style-type: none;
    }
#comments .navigation {
    padding: 0 0 40px;
    font-size: 0.9em;
}
    #comments .navigation a {
        color: #999999;
        padding: 3px 8px;
        border: 1px solid #bbbbbb;
    }
    #comments .navigation a:hover {
        color: #000000;
        border-color: #000000;
        text-decoration: none;
    }
#comments .says {
    display: none;
}
/** END wordpress 2.7 comments **/

#wp_page_numbers {
    float: right;
    background-color: transparent;
    width: auto;
}
    #wp_page_numbers ul {
        border: 0;
    }
    #wp_page_numbers li {
        margin: 4px;
    }
    #wp_page_numbers ul li.page_info {
        background-color: #7C765E !important;
        color: #ffffff;
        padding: 10px;
        border: 0;
        font-size: 12px;
        font-family: Verdana;
        font-style: italic;
    }
    #wp_page_numbers li a {
        background-color: #7C765E !important;
        color: #ffffff;
        padding: 10px;
        border: 0 !important;
        font-size: 12px;
        font-family: Verdana;
        font-style: italic;
    }
    #wp_page_numbers ul li.active_page a {
        background-color: #3B332A !important;
    }
        

#htmltagcloud{

    font-size: 100%;
    width: auto;        /* auto or fixed width, e.g. 500px   */
    font-family:'lucida grande','trebuchet ms',arial,helvetica,sans-serif;
    background-color:#fff;
    margin:1em 1em 0 1em;
    border:2px dotted #ddd;
    padding:2em; 
}

pre{
	margin:0 0 20px 0
}
pre{
	overflow:auto;
	color:white;
	background:#1d1f21;
	padding:0;
	font-family:Menlo,Monaco,monospace;
	-moz-tab-size:2;
	-o-tab-size:2;
	tab-size:2;
	-ms-word-break:normal;
	word-break:normal;
	word-break:normal;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	hyphens:none;
	position:relative
}
pre{
	padding-top:10px
}

pre:before{
	content:attr(rel);
	color:white;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:#e18728;
	font-family:"Gotham Rounded A","Gotham Rounded B","proxima-nova-soft",sans-serif;
	padding:5px 0;
text-indent:15px
}

pre code{
	font-family:Menlo,Monaco,monospace;
	background:none;
	padding:15px;
	white-space:pre;
	overflow:auto;
	display:block;
	line-height: 18px;
}

code{
	background:lightyellow;padding:1px
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table .table {
  background-color: #ffffff;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

.table tbody tr.success > td {
  background-color: #dff0d8;
}

.table tbody tr.error > td {
  background-color: #f2dede;
}

.table tbody tr.warning > td {
  background-color: #fcf8e3;
}

.table tbody tr.info > td {
  background-color: #d9edf7;
}

.table-hover tbody tr.success:hover > td {
  background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover > td {
  background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover > td {
  background-color: #faf2cc;
}

.table-hover tbody tr.info:hover > td {
  background-color: #c4e3f3;
}
