---
layout: default
name: home
left-picture: tuning-fork.png
right-picture: mark.png
bottom-message: Welcome!
---

<h2>matt.meisberger : PHP / Mysql Web Developer</h2>

<h3>About me</h3>
<p>
Hello, I'm a Web Programmer with over 7 years of experience programming in PHP and many supporting languages. I live in Janesville Wisconsin and am currently employed at WebCourseworks where the majority of my experience has been customizing two open source projects, Moodle and Magento.
</p>
<p>
I also work on the side when time permits making custom Moodle modules as freelance work and hosting and maintaining a Moodle server for a few clients of mine and other miscellaneous projects.
</p>
<p>
I love learning new technologies and I love the open source community. I enjoy that I'm a part of programming in so many things that are open source. So maybe expect some Moodle blog posts, programming posts or just other miscellaneous things.
</p>