<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Matt Meisberger</title>
  <link rel="stylesheet" href="{{site.url}}/css/style.css" />
  {% if page.name == 'resume' %} 
  <link rel="stylesheet" href="{{site.url}}/css/resume.css" />
  {% endif %}

</head>
<body>
    
<!-- BEGIN header -->
<div id="header" class="{{page.name}}">
    <div class="wrapper">
        <h1><a href="{{site.url}}">matt.meisberger</a></h1>
        <ul class="pages">
            <li class="cat-item {% if page.name == 'home' %} current_page_item {% endif %}"><a href="{{site.url}}">Home</a></li>
            <li class="cat-item {% if page.name == 'mywork' %} current_page_item {% endif %}"><a href="{{site.url}}/mywork">My Work</a></li>
            <li class="cat-item {% if page.name == 'resume' %} current_page_item {% endif %}"><a href="{{site.url}}/resume">Resume</a></li>
            <li class="cat-item {% if page.name == 'blog' %} current_page_item {% endif %}"><a href="{{site.url}}/blog">Blog</a></li>
        </ul>
    </div>
</div>
<!-- END header -->