<div class="box">
    <h2>Follow Me</h2>
    <div class="sideblock1">
        <div class="subscribe">
            <ul>
                <li class="twitter"><a target="_blank" href="http://twitter.com/mattmeisberger">Twitter</a></li>
                <li class="linkedin"><a target="_blank" href="http://linkedin.com/in/mattmeisberger">LinkedIn</a></li>
                <li><a target="blank" href="{{site.url}}/rss.xml">RSS</a></li>
            </ul>
        </div>
    </div>
</div>