---
layout: resume
name: resume
subcaption: Programmer Extrodinair
---

<div class="title">
<h1>Matt Meisberger</h1>
<h2>Web Programmer</h2>
<hr />

<ul>
    <li>
        <ul>
            <li class="left">
                <h2>About Me</h2>
            </li>
            <li class="right">
                <p>
                    I'm a PHP / MySQL / Javascript Web Programmer. I have 7+ years of 
                    experience. I currently work in a fast paced, detail oriented environment with highly skilled professionals. I love learning new languages and technology and particularly enjoy working with open source products.
                </p>
                <p>
                    I have worked at almost all ends of product life cycle from gather requirements to clients to delivering a finish product and beyond in training and Teir 3 technical support.
                </p>
                <p>
                    I'm devoted to learning my crafts well and have shown my drive for excellence by graduating Manga Cum Laude in Mathematics / Computer Science while at UW Whitewater.
                </p>
            </li>
        </ul>
    </li>
    <li class="clear">
        <ul>
            <li class="left">
                <h2>Skills</h2>
            </li>
            <li class="right">
                {% include tagcloud.html %}
                <p>
                    Besides being extremely proficient in PHP, mySQL, jQuery, HTML programming, I've also been exposed to a variety of supporting technologies from caching servers such as Redis, Varnish, and nginx to server maintenance using Amazon Web Services and VMWare technology. 
                </p>
            </li>
        </ul>
    </li>
    <li class="clear">
        <ul>
            <li class="left">
                <h2>Experience</h2>
            </li>
            <li class="right jobs">
                <ul>
                    <li>
                        <h3 class="company">WebCourseworks</h3> <span class="date-range">2009-Present</span>
                        <p>Primarily Web Development also training, supporting, testing, and implementation
                        of products. Most work has been customizing Moodle and Magento.</p>
                    </li>
                    <li>
                        <h3 class="company">MK Cellular</h3> <span class="date-range">2005-2009</span>
                        <p>Designed, built, and maintained a PHP based Point of Sales system which tracked
                        inventory, customer, sales, employees, time keeping and more. Also worked as in sales.</p>
                    </li>
                    <li>
                        <h3 class="company">Verizon</h3> <span class="date-range">2005</span>
                        <p>Built tracking scripts for inventory and sales and also worked in sales and customer service.</p>
                    </li>
                    <li>
                        <h3 class="company">GoWireless</h3> <span class="date-range">2004</span>
                        <p>Retail Sales and Customer Service.</p>
                    </li>
                    <li>
                        <h3 class="company">ATK Janesville</h3> <span class="date-range">2002-2003</span>
                        <p>Help Desk Technician, network upgrader, and email support.</p>
                    </li>
                    <li>
                        <h3 class="company">McDonalds</h3> <span class="date-range">1994-2004</span>
                        <p>Manager, POS software maintainer and installer, Maintenance, and several other positions. </p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</div>

<div class="break"></div>
<br /><br />

