---
layout: blog
name: blog
---
 
{% for post in site.posts %}
<div class="post">
    <p class="date">{{post.date | date:"%b %d, %Y"}}</p>
    <h2><a href="{{site.url}}{{post.url}}">{{post.title}}</a></h2>
    <div class="content">
        <div class="a">
            <div class="b">
                <img src="{{site.url}}/images/{{post.thumb}}" align="right"/>
                {{ post.content | postmorefilter: post.url, "Read more" }}
            </div>
        </div>
    </div>
</div>
{% endfor %}
