{% include header.html %}

<div id="body">
    <div class="wrapper">
        <div id="content">
            {{content}}
        </div>
        {% include sidebar.html %}
        <div class="break"></div>
    </div>
</div>

{% include footer.html %}