{% include header.html %}

<div id="body">
    <div class="wrapper">
        <div id="content">
            <div class="post">
                <div class="content">
                    <div class="a">
                        <div class="b">
                            <h1>{{page.title}}</h1><br /><br />
                            <img class="post-img" src="{{site.url}}/images/{{page.image}}" align="left"/>
                            
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include sidebar.html %}
        <div class="break"></div>
    </div>
</div>

{% include footer.html %}
