{% include header.html %}

<div id="body">
    <div class="wrapper">
        <div id="content">
            <div class="content">
                <div class="a">
                    <div class="b">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
        <div class="break"></div>
    </div>
</div>

{% include footer.html %}
